<template lang="">
    <div>
        <h1>Добавить заказ</h1>
        <div style="display: inline-block; margin-right: 20px">
          <label style="font-size: 14pt;">Название</label>
          <select name="tovar" id="tovar" v-model="selected">
            <option v-for="tovar in tovars" :value="tovar.id" :key="tovar.id" >{{tovar.name}}</option>
          </select>
        </div>
        <div style="display: inline-block; margin-right: 20px">
          <label style="font-size: 14pt;" for="">Количество</label>
          <input  v-model.number="count" type="number" name="amount" id="numer" min='1'>
        </div>
          <div style="display: inline-block; margin-right: 20px">
          <label style="font-size: 14pt;" for="">Цена</label>
          <input type="number" name="cost" id="cost" v-model.number="cost">
        </div>
        <div>
          <input type="button" value="Добавить заказ" @click="addOrder">
        </div>
    </div>
</template>

<script>
export default {
  name: "addform",
  props: {},
  data: function () {
    return {
      tovars: [],
      cost:"",
      selected:'',
      count: 1
    };
  },
  methods:{
    addOrder(){
      const req = {
        method: 'POST',
        headers:{
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          productId: this.selected,
          count: this.count
        })
      };
      fetch('https://webtest.it.ua/testApp/api/orders/add', req)
      .then(response => {
        return response.json()
      })
    }
  },
  watch:{
    selected(){
      console.log(this.selected)
      this.cost = this.tovars[this.selected-1].price;
    }
  },
  asyncComputed: {
    async getAllTovar() {
      await fetch("https://webtest.it.ua/testApp/api/products")
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          this.tovars = data;
        });
    },
  },
};
</script>

<style lang="">
</style>