<template lang="">
    <div style="background-color: #A9A9A9; margin-top: 10px" class="container">
        <img :src="getPhoto" alt="Photo" style="  margin: 10px 10px; float:left" />
        <div style="display: inline-block; width: 600px; text-align: center; margin-top: 15px;">
            <span style="width: 250px; font-weight: bold; color: black">{{getName}}</span>
            <div style="display: inline-block; float: right;" >
                <span style="width: 100px; display: inline-block; font-weight: bold; color: black" v-if="this.changed===0">{{getStatusOrder}}</span>
                <select name="status"  v-if="this.changed===1" v-model="statusId"> 
                    <option v-for="(statuses, index) in status" :value="statuses.id" :key="index+1" >{{statuses.name}}</option>
                </select>
            </div>
        </div>
        <div style="margin: 20px 10px; width: 400px; display: inline-block">
            <div>
                <p style="display: inline-block;">Цена</p>
                <label style="margin-top: 15px;float: right; font-weight: bold; color: black" v-if="this.changed===0">{{getCost}}$</label>
                <input type="number" name="cost" style="float:right"  :value="getCost" v-if="this.changed===1"> 
            </div>
            <div>
                <p style="display: inline-block;">Количество</p>
                <label style="margin-top: 15px;float: right; font-weight: bold; color: black"  v-if="this.changed===0">{{ this.count }}</label>
                <input type="number" name="amount" style="float:right" v-model.number="count"  v-if="this.changed===1">  
            </div>
            <div>
                <p style="display: inline-block;">Сумма</p>
                <label style="margin-top: 15px;float: right; font-weight: bold; color: black">{{ getFullCost }}$</label>
            </div>
        </div>
        <div style=" width: 250px; display: inline-block; margin-left: 20px">
            <input v-if="this.changed===0" type="button" value="Изменить" class="button" style="margin: 0 10px;" @click="changeValue">
            <div v-if="this.changed===1"> 
                <input type="button" class="button" value="Сохранить" style="margin: 0 10px; font-weight: bold; color: black" @click="confirmChanges">
                <input type="button" class="button" value="Отмена" style="font-weight: bold; color: black" @click="cancelChanges">
            </div>
            <input type="button" value="Удалить" class="button" style="margin-left: 25px;" @click="delOrder" v-if="this.delete===0">
            <div v-if="this.delete===1"> 
                <input type="button" value="YES" class="button" style="margin: 0 10px; font-weight: bold; color: black" @click="confirmDelete">
                <input type="button" value="NO" class="button" style="font-weight: bold; color: black" @click="cancelDelete">
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "card",
  props: {
    count: {
      Type: Number,
      require: true,
    },
    orderId: {
      Type: Number,
      require: true,
    },
    productId: {
      Type: Number,
      require: true,
    },
    statusId: {
      Type: Number,
      require: true,
    },
    tovars: {
      Type: Array,
      require: true,
    },
    status: {
      Type: Array,
      require: true,
    },
  },
  data: function () {
    return {
      changed: 0,
      delete: 0,
    };
  },
  methods: {
    changeValue() {
      this.changed = 1;
    },
    cancelChanges() {
      this.changed = 0;
    },
    async confirmChanges() {
      const req = {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          id: this.orderId,
          productId: this.productId,
          statusId: this.statusId-1,
          count: this.count,
        }),
      };

      await fetch("https://webtest.it.ua/testApp/api/orders/update", req).then(
        (response) => {
          return response.json();
        }
      )
      .then(data=>{
        console.log(data)
      })
      this.changed=0;
      this.$emit('change')
    },
    delOrder() {
      this.delete = 1;
    },
    cancelDelete() {
      this.delete = 0;
    },
    async confirmDelete() {
      const req = {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          id: this.orderId,
          productId: this.productId,
          statusId: this.statusId,
          count: this.count,
        }),
      };

      await fetch(
        `https://webtest.it.ua/testApp/api/orders/delete/${this.orderId}`,
        req
      ).then((response) => {
        return response.json();
      });

      this.$emit('delete')
    },
  },

  watch: {
  },
  computed: {
    getFullCost() {
      console.log(this.tovars);
      return this.tovars[this.productId].price * this.count;
    },
    getCost() {
      return this.tovars[this.productId].price;
    },
    getPhoto() {
      return this.tovars[this.productId].photoUrl;
    },
    getName() {
      return this.tovars[this.productId].name;
    },
    getStatusOrder() {
      return this.status[this.statusId].name;
    },
  },
};
</script>

<style>
.container {
  width: 900px;
  margin: 0 auto;
  height: 250px;
  text-align: left;
}
.button {
  font-weight: bold;
  color: black;
  width: 100px;
  height: 50px;
  background: transparent;
  outline: none;
  border-radius: 10px;
}
</style>