<template>
  <div id="app">
    <addform></addform>
    <card
      @delete="changeVal"
      @change="changeVal"
      v-for="(item, index) in obj"
      :key="index"
      :count="item.count"
      :orderId="item.id"
      :productId="item.productId"
      :statusId="item.statusId"
      :tovars="tovars"
      :status="status"
    ></card>
  </div>
</template>

<script>
import addform from "./components/form/form.vue";
import card from "./components/card/card.vue";

export default {
  name: "App",
  components: {
    card,
    addform,
  },
  data() {
    return {
      obj: [],
      tovars: [],
      status: [],
    };
  },
  methods: {
    async changeVal() {
      await fetch("https://webtest.it.ua/testApp/api/orders")
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          this.obj = data;
        });
    },
  },
  asyncComputed: {
    async getOrders() {
      await fetch("https://webtest.it.ua/testApp/api/orders")
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          this.obj = data;
        });
    },
    async getAllTovar() {
      await fetch("https://webtest.it.ua/testApp/api/products")
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          this.tovars = data;
        });
    },
    async getAllStatus() {
      await fetch("https://webtest.it.ua/testApp/api/statuses")
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          this.status = data;
        });
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
